h1{
    display: flex;justify-content: center;font-size: 60px;
}
.time0{
    display: flex;justify-content: center;
}
#date{
    padding: 20px; border: 1px solid gray; border-radius: 20px;
}
button{
    padding: 20px;
border-radius: 20px;
border: 1px solid gray;
}
.time1{
    margin-right: 10px;
}
span{
    font-size: 30px;
}
.para{
    /* visibility: hidden; */
    margin-top: 90px;
}
.para1{
    display: flex; justify-content: center;
}
.para2{
    display: flex; justify-content: center;
    margin-top: 20px;
}

@media only screen and (max-width: 2560px) {
    #date {
      width: 400px;
    }
  }
  @media only screen and (max-width: 425px) {
    #date {
      width: 200px;
    }
    h1{
        font-size: 40px;
    }
    span{
        font-size: 20px;
    }
  }
  @media only screen and (max-width: 320px) {
    #date {
      width: 150px;
    }
    h1{
        font-size: 30px;
    }
    .para3{
        font-size: 17px;
    }
}
@media only screen and (max-width: 286px) {
    #date {
      width: 130px;
    }
    h1{
        font-size: 30px;
    }
    .para3{
        font-size: 15px;
    }
}